body{
    background-color: rgba(54, 11, 54, 0.301);
}
header{
    background-color:rgb(36, 33, 33);
    width: 100%;
    height: 100px;
}
nav{
    background-color:rgb(23, 7, 39);
    width: 100%;
    height: 100px;
}

section{
    background-color:rgb(68, 21, 21);
    width: 70%;
    height:500px;
    float: left;
}
h1{
    font-size:20px; 
    text-align: center;
}
aside{
    background:rgb(90, 87, 87);
    width: 30%;
    height: 500px;
    float: left;
}
footer{
    background: black;
    width: 100%;
    height: 200px;
    margin-top: 45%;
}
#cuerpo{
    margin: 0 auto;
    background-color: peru;
    height: 100%;
    margin-left: 10%;
}

#contenedor-menu{
    line-height: 30px;
    text-align: center;
}
#menu{
    width: 100%;
    height: 30px;
  
 }
 .active{
    border-radius: 3px;
    height: 30px;
    width: 40%;
    background-color: rgb(2, 2, 24);
    margin: 0 auto;
 }
 a{
    color: aliceblue;
    text-decoration: none;
  } 
